@font-face {
font-family: "Dancing Script";
src: url("./fonts/DancingScript-Regular.otf");
src:

url("./fonts/DancingScript-Regular.otf") format("opentype"),

}


/*----Navigation----*/

.mainNav li{
  display:inline-block;
  margin: 18px 25px;
  font-family: Baskerville;
  font-size: 17px;
  letter-spacing: px;
  color: #ffffff;
  text-decoration: none;
}

.mainNav li a:visited{
  color: #ffffff;
  text-decoration: none;
}

.mainNav li a:link{
  color: #ffffff;
  text-decoration: none;
}


.mainNav li a:hover{
  color: #f5c301;
  text-decoration: none;
}

.mainNav li a:active{
  color: #f5c301;
  text-decoration: none;
}

.mainNav{
/*  background-color: #008390; */
  background-color: black;
  margin: auto;
  text-align: center;
  height:60px;
}

/*-----Home Page-----*/


.homeCont {
  display: flex;
  flex-direction: column;
}

.homeTitle{
  margin-bottom: 50px;
  font-family: 'Baskerville';
  color: grey;
}

.homeName{
    font-family: 'Dancing Script';
    font-size: 50px;
    margin-bottom: 0px;
}

.homeLogo{
  width: 468px;
  align-self: center;
}

.socialLogo{
  width: 80px;
  margin: 10px;
}

.socialLogo:hover{
  transform: scale(1.1);
}

.socialCont{
  align-self: center;
  margin: 20px auto;
  width: auto;
  height: 60px;
}

.homeName, .homeTitle{
  text-align: center;

}

.emailGeneral{
  text-align: center;
  width: auto;
}

/*-----About Me-----*/

.aboutPage{
  text-align: center;
}

.aboutCont{
  margin: auto 30vw;

}

.aboutCont > div{
  display:flex;
  flex-wrap: wrap;
  text-align: justify;
}


.aboutMe{
  text-align: center;
  margin-top: 50px;
}



/*----Search API----*/

.galleryItem {
  width: auto ;
  float: left;
  padding: 10px;
}

.galleryTitle {
  text-align: left;
  width: 1065px;
  margin: 20px auto;
}

.galleryImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchDiv {
  text-align: center;
/*  margin-top: 100px; */
margin-bottom: 40px;
}


.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*------Game Counter------*/


.Counter{
  margin: auto 20vw;
  margin-top: 30px;
}


.counterDiv{
  display: flex;
  background-color: #000000;
}

.stats {
  font-weight: normal;
  width: 100vw;
  margin: 10px 20vw;
  font-size: 30px;
}

.stats td:first-child {
text-align: left;
color: white;
}
.stats td:last-child {
text-align: right;
color: white;
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  background: #f5c301;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scoreboard {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: hidden;
}

.player {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}

  .player:last-of-type {
    border-bottom-color: #D4CAFF;
  }

  .player-name:hover .remove-player {
    visibility: visible;
  }

  .player-name,
  .counter-score {
    color: #2F2366;
  }

  .player-name {
    flex-grow: 1;
    line-height: 3.5em;
    padding-left: 50px;
    text-align: left;
  }

  .remove-player {
    font-size: 1.15em;
    border: none;
    outline: none;
    visibility: hidden;
    color: #EF5350;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
  }


  .stopwatch-time {
    display: block;
    font-family: monospace;
    font-size: 2.15em;
  }

  .stopwatch button {
    margin: 5px auto;
    background-color: #000000;
    border-radius: 5px;
    padding: 7px 8px;
    border: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    width: 20vw;
  }

  .stopwatch button:hover,
  input[type=submit]:hover {
    background: #fff;
    color: #44338D;
    cursor: pointer;
  }

  .stopwatch h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
    letter-spacing: 2px;
  }

.counter {
  display: flex;
  width: 190px;
}

  .counter-action {
    border: none;
    font-size: 1.15em;
    font-weight: bold;
    color: #B0AEBA;
    background-color: #DCDCDC;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    outline: none;
  }

  .counter-action:hover {
    color: #fff;
  }

  .increment:hover {
    background: #83D97C;
  }

  .decrement:hover {
    background: #EF5350;
  }

  .counter-score {
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    line-height: 2em;
  }

  button.counter-action.increment{
    border-bottom-right-radius: 10px;
  }

  .counterForm {
    display: flex;
    background-color: #f5c301;
  }

  .counterForm input[type=text] {
    flex-grow: 1;
    border-width: 0 0 1px 0;
    margin: 15px 10px 15px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    border-style: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #C7BCF8;
    letter-spacing: 2px;
    outline: none;
  }

  .counterForm input[type=text]::-webkit-input-placeholder{
    color: #C7BCF8;
    letter-spacing: 2px;
  }

  .counterForm input[type=submit] {
    display: block;
    font-size: .6em;
    margin: 15px 15px 15px 0;
    padding: 10px;
    background-color: #000000;
    border-radius: 5px;
    border: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .counterForm button,
  input[type=submit] {
    outline: none;
    transition: background-color 0.2s ease,
                color 0.2s ease;
  }

  /*----Random Quote----*/

  .quoteDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }

  /*---General---*/

  p ,h1,h2,h3{
      font-family: 'Arial'
  }
