/*----Navigation----*/

.mainNav li{
  display:inline-block;
  margin: 18px 25px;
  font-family: Baskerville;
  font-size: 17px;
  letter-spacing: px;
  color: #ffffff;
  text-decoration: none;
}

.mainNav li a:visited{
  color: #ffffff;
  text-decoration: none;
}

.mainNav li a:link{
  color: #ffffff;
  text-decoration: none;
}


.mainNav li a:hover{
  color: #f5c301;
  text-decoration: none;
}

.mainNav li a:active{
  color: #f5c301;
  text-decoration: none;
}

.mainNav{
/*  background-color: #008390; */
  background-color: black;
  margin: auto;
  text-align: center;
  height:60px;
}

/*-----Home Page-----*/

.homeCont {
  display: flex;
  flex-direction: column;
}

.homeLogo{
  width: 468px;
  align-self: center;
}

.homeName, .homeTitle{
  text-align: center;
}

.emailGeneral{
  text-align: center;
  width: auto;
}

.aboutMe{
  text-align: center;
  margin-top: 50px;
}

/*----Search API----*/

.galleryItem {
  width: auto ;
  float: left;
  padding: 10px;
}

.galleryTitle {
  text-align: left;
  width: 1065px;
  margin: 20px auto;
}

.galleryImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchDiv {
  text-align: center;
/*  margin-top: 100px; */
}


.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*------Game Counter------*/

.counterHeader{
  background-color: purple;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.scoreboard {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: hidden;
}

.player {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}

  .player:last-of-type {
    border-bottom-color: #D4CAFF;
  }

  .player-name:hover .remove-player {
    visibility: visible;
  }

  .player-name,
  .counter-score {
    color: #2F2366;
  }

  .player-name {
    flex-grow: 1;
    line-height: 3.5em;
    padding-left: 50px;
    text-align: left;
  }

  .remove-player {
    font-size: 1.15em;
    border: none;
    outline: none;
    visibility: hidden;
    color: #EF5350;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
  }

.stats,
.stopwatch {
  width: 170px;
}

.stats {
  margin: 0 0 0 28px;
  font-weight: normal;
}

  .stats td:first-child {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .7em;
  }

  .stats td:last-child {
    text-align: left;
  }

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: #5B45B9;
}

  .stopwatch-time {
    display: block;
    font-family: monospace;
    font-size: 2.15em;
  }

  .stopwatch button {
    margin: 8px 5px;
    background-color: #44338D;
    border-radius: 5px;
    padding: 7px 8px;
    border: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
  }

  .stopwatch button:hover,
  input[type=submit]:hover {
    background: #fff;
    color: #44338D;
    cursor: pointer;
  }

  .stopwatch h2 {
    font-size: .6em;
    margin: 0;
    font-weight: normal;
    letter-spacing: 2px;
  }

.counter {
  display: flex;
  width: 190px;
}

  .counter-action {
    border: none;
    font-size: 1.15em;
    font-weight: bold;
    color: #B0AEBA;
    background-color: #DCDCDC;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    outline: none;
  }

  .counter-action:hover {
    color: #fff;
  }

  .increment:hover {
    background: #83D97C;
  }

  .decrement:hover {
    background: #EF5350;
  }

  .counter-score {
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    line-height: 2em;
  }

  .App > .player:last-child{
    border-radius: 10px;
  }

  button.counter-action.increment{
    border-bottom-right-radius: 10px;
  }
